* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

{
    box-sizing: border-box
;
    margin: 0
;
    padding: 0
;
}

h1 {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;


}

p {
    align-self: flex-start;
}

input, textarea {

    width: 300px;
    height: 40px;
    margin-bottom: 16px;
    padding: 12px 14px;
    /*font-family: Cera Pro;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;

    &::placeholder {
        color: #A5A5A5;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}

button {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    border: none;
    margin-bottom: 30px;
    margin-top: 41px;
}

form {
    max-width: 300px;

    margin-top: 14px;
}

.password {
    position: relative;
}

.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 11px;
    right: 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url("https://snipp.ru/demo/495/no-view.svg") no-repeat center;
}

.password-control.view {
    background: url("https://snipp.ru/demo/495/view.svg") no-repeat center;
}

.divider {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #EAEAEA;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}


.google-btn {
    color: #727272;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 0;
}

.facebook-btn {
    color: #727272;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-top: 15px;
    padding: 11px 9px;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 15px;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 100%;
    padding: 10px 10px;
}

.facebook-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    padding: 11px 9px;
}

.social-buttons button img {
    width: 20px;
    height: 20px;
}