@import './font.css';
@import './reset.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: 'Cera Pro', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    color: #fff;
    background: #46A358;
    border-radius: 6px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px 7px;
    text-decoration: none;
}

.btn-large {
    margin-top: 44px;
    width: 140px;
    padding: 11px 25px 9px;
}

/*header*/
.section-2 {
    height: 53px;
    border-bottom: 0.3px solid #46A35880;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    padding-bottom: 17px;
}

.nav {
    align-items: center;
    display: flex;
    margin-right: 125px;
    list-style: none;
    text-decoration: none;
    color: #3D3D3D;
}

.nav-link li {
    position: relative;
    display: block;

}

.sub-menu li, .sub-menu-right li {
    /*font-family: Encode Sans Expanded;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 3px 12px;
}

.nav-link {
    list-style: none;
    gap: 50px;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 16px;
}

.nav-link > li > .sub-menu {
    position: absolute;
    display: none;
    background: #EDF6EE;
    padding: 7px 0 8px 14px;
}

.nav-link > li:hover > .sub-menu {
    display: block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.sub-menu {
    position: relative;
}

.sub-menu, .sub-menu-right {
    z-index: 10;
}

.sub-menu-right {
    position: absolute;
    display: none;
    background: #EDF6EE;
    left: 100%;
    top: 0;
    transform: translateY(-50%);
    padding: 7px 0 8px 14px;
}

.sub-menu > li:hover > .sub-menu-right {
    display: block;
}

.r-menu > a {
    position: relative;
    padding-right: 13px;
}

.r-menu > a::after {
    content: "<";
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    transition: 0.2s;
}

.r-menu:hover > a {
    color: white;
    font-weight: 700;
    background: #1A712A;

}


.nav-link a {
    text-decoration: none;
    color: #3D3D3D;
    display: block;
    white-space: nowrap;
}

.nav-link ul {
    width: 180px;
    color: #3D3D3D;
    font-weight: 400;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}


.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100px;
    height: 35px;
    background: #46A358;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.logout-btn {
    width: 20px;
    height: 20px;
}

/*section1*/
.section-1 {
    background: linear-gradient(
            97.77deg,
            rgba(245, 245, 245, 0.5) -23.46%,
            rgba(245, 245, 245, 0.5) 107.51%
    );
}

.section-1 .left-side {
    padding: 68px 43px;
    display: inline-block;
    max-width: 673px;
}

.section-1 .right-side {
    display: inline-block;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

.section-1 .large-img {
    height: 450px;
}

.section-1 .small-img {
    height: 135px;
    position: absolute;
    left: 55px;
    bottom: 17px;
}

.section-1 h3 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 7px;
}

.section-1 h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 5px;
}

.section-1 h1 span {
    color: #46A358;
}

.section-1 p {
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

/*section3*/
.section-3 {
    margin-top: 26px;
}

.section-3::after {
    content: "";
    display: flex;
    clear: both;
}

.aside {
    background: #FBFBFB;
    float: left;
    max-width: 310px;
    height: 1217px;
    display: flex;
    flex-direction: column;
}

.categories-title {
    font-weight: 700;
    font-size: 18px;
    padding: 14px 18px;
}

.categories-list {
    list-style: none;
}

.categories-list li {
    font-size: 15px;
    line-height: 40px;
    padding-left: 30px;
    cursor: pointer;
}

.categories-list li:hover {
    color: #46A358;
    font-weight: 700;

}

.banner {
    margin-top: auto;
    height: 470px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products {
    float: right;
    width: 840px;
}

.products-filter {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-menu {
    display: flex;
}

.filter-menu span {
    margin-right: 40px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    color: #3D3D3D;
    cursor: pointer;
}

.filter-menu .active {
    color: #46A358;
    font-weight: 700;
    position: relative;
}

.filter-menu .active::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #46A358;
}

.filter-sort {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.filter-sort span {
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    color: #3D3D3D;
    margin-right: 8px;
}

.filter-sort img {
    width: 16px;
    height: 16px;
}

.products-list {
    list-style: none;
    margin-top: 31px;
    margin-right: auto;
}

.products-list li:hover .wrap-btn {
    display: flex;
    opacity: 1;
}


.wrapper {
    position: relative;
    height: 300px;
    width: 260px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: #FBFBFB;
}

.wrap-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    left: 0;
    bottom: 7px;
    opacity: 0;
    transition: 0.3s ease;
}

.wrap-btn button {
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: none;
}

.wrap-btn img {
    background: white;
    max-width: 18px;
    max-height: 18px;
}


.products-list p {
    margin-top: 36px;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
    font-weight: 400;
    margin-bottom: 6px;
    padding-top: 12px;
}

.products-list li {
    float: left;
    width: 250px;
    height: 350px;
    margin: 0 15px 70px 15px;
    justify-content: center;
}

.products-list img {
    background: #FBFBFB;
    width: 250px;
    height: 250px;
    object-fit: contain;
    justify-content: center
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #46A358;
}

.products::after {
    content: "";
    display: flex;
    clear: both;
}


.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 90px;
    clear: both;
}

.page-btn {
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    background: #fff;
    font-size: 18px;
    font-weight: 400;
    color: #3D3D3D;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-btn.active {
    background: #46A358;
    color: #fff;
    border-color: #46A358;
}

.page-btn:hover:not(.active) {
    border-color: #46A358;
    color: #46A358;
}

.page-btn.next {
    font-size: 22px;
}

/*section4*/

.section-4 {
    padding: 100px 0;
}


/* frame1 */

.section-4 {
    padding: 100px 0;
}

.frame1 {
    display: flex;
    gap: 28px;
    margin-bottom: 94px;
}


.promo-item {
    width: 586px;
    height: 302px;
    background: #FBFBFB;

    display: flex;
    align-items: center;
    /*justify-content: space-between;*/

    padding: 0;
}

.promo-item img {
    width: 287px;
    height: 292px;
}


.promo-text {
    width: 292px;
    height: 45px;
    margin-top: 89px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}


.promo-text h4 {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    horiz-align: right;
    color: #3D3D3D;
    margin-bottom: 9px;
}

.promo-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 25px;
}


.promo-text .btn {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 26px;
    margin-bottom: 46px;
}


/* blog*/
.blog {
    text-align: left;
    margin-top: 138px;
}

.blog h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    margin-bottom: 12px;
}

.blog-desc {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 35px;
    margin-top: 15px;
}

.blog-list {
    display: flex;
    gap: 42px;
    list-style: none;
}

.blog-list li {
    width: 270px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
}

.blog-list img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-list span {
    font-size: 12px;
    color: #46A358;
    margin: 15px;
}

.blog-list h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin: 0 15px 10px;
}

.blog-list p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #727272;
    margin: 0 15px 20px;
}

.blog-list a {
    margin: auto 15px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
}

.blog-list a:hover {
    color: #46A358;
}