@import './font.css';
@import './reset.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: 'Cera Pro', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    color: #fff;
    background: #46A358;
    border-radius: 6px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px 7px;
    text-decoration: none;
}

.btn-large {
    margin-top: 44px;
    width: 140px;
    padding: 11px 25px 9px;
    cursor: pointer;
}


.section-2 {
    height: 53px;
    border-bottom: 0.3px solid #46A35880;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    padding-bottom: 17px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 25px;
}

.header-icon {
    width: 29px;
    height: 24px;
    display: block;
}

.nav {
    align-items: center;
    display: flex;
    margin-right: auto;
    margin-left: 229px;
    list-style: none;
    text-decoration: none;
    color: #3D3D3D;
}

.nav-link li {
    position: relative;
    display: block;

}

.sub-menu li, .sub-menu-right li {
    /*font-family: Encode Sans Expanded;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 3px 12px;
}

.nav-link {
    list-style: none;
    gap: 50px;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 16px;
}

.nav-link > li > .sub-menu {
    position: absolute;
    display: none;
    background: #EDF6EE;
    padding: 7px 0 8px 14px;
}

.nav-link > li:hover > .sub-menu {
    display: block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.sub-menu {
    position: relative;
}

.sub-menu, .sub-menu-right {
    z-index: 10;
}

.sub-menu-right {
    position: absolute;
    display: none;
    background: #EDF6EE;
    left: 100%;
    top: 0;
    transform: translateY(-50%);
    padding: 7px 0 8px 14px;
}

.sub-menu > li:hover > .sub-menu-right {
    display: block;
}

.r-menu > a {
    position: relative;
    padding-right: 13px;
}

.r-menu > a::after {
    content: "<";
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    transition: 0.2s;
}

.r-menu:hover > a {
    color: white;
    font-weight: 700;
    background: #1A712A;

}

.nav-link > li:hover > a {
    font-weight: 700;
}

.nav-link > li > a {
    position: relative;
    display: block;
    padding-bottom: 36px;
}

.nav-link > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #46A358;
    opacity: 0;
    transition: opacity .2s ease;
}

.nav-link > li:hover > a::after {
    opacity: 1;
}


.nav-link a {
    text-decoration: none;
    color: #3D3D3D;
    display: block;
    white-space: nowrap;
}

.nav-link ul {
    width: 180px;
    color: #3D3D3D;
    font-weight: 400;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}


.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100px;
    height: 35px;
    background: #46A358;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.login-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    flex-shrink: 0;
}

/*section1*/
.section-1 {
    background: linear-gradient(
            97.77deg,
            rgba(245, 245, 245, 0.5) -23.46%,
            rgba(245, 245, 245, 0.5) 107.51%
    );
}

.section-1 .left-side {
    padding: 68px 43px;
    display: inline-block;
    max-width: 673px;
}

.section-1 .right-side {
    display: inline-block;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

.section-1 .large-img {
    height: 450px;
}

.section-1 .small-img {
    height: 135px;
    position: absolute;
    left: 55px;
    bottom: 17px;
}

.section-1 h3 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 7px;
}

.section-1 h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 5px;
}

.section-1 h1 span {
    color: #46A358;
}

.section-1 p {
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

/*section3*/
.section-3 {
    margin-top: 26px;
}

.section-3::after {
    content: "";
    display: flex;
    clear: both;
}

.aside {
    background: #FBFBFB;
    float: left;
    max-width: 310px;
    height: 1217px;
    display: flex;
    flex-direction: column;
}

.categories-title {
    font-weight: 700;
    font-size: 18px;
    padding: 14px 18px;
}

.categories-list {
    list-style: none;
}

.categories-list li {
    font-size: 15px;
    line-height: 40px;
    padding-left: 30px;
    cursor: pointer;
}

.categories-list li:hover {
    color: #46A358;
    font-weight: 700;

}

.banner {
    margin-top: auto;
    height: 470px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products {
    float: right;
    width: 840px;
}

.products-filter {

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter-menu {
    display: flex;
    gap: 40px;
}

.filter-menu span {
    position: relative;
    cursor: pointer;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    color: #3D3D3D;
    padding-bottom: 7px;
}

.filter-menu span::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #46A358;
    opacity: 0;
    transition: opacity .2s ease;
}


.filter-menu span:hover {
    color: #46A358;
    font-weight: 700;
}

.filter-menu span:hover::after {
    opacity: 1;
}


.filter-block {
    margin-left: 18px;
    margin-top: 36px;
    width: 226px;
}

.size-block {
    margin-left: 18px;
    margin-top: 46px;
    margin-right: 24px;
}

.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 15px;
}


.price-range {
    width: 100%;
    accent-color: #46A358;
    margin-bottom: 15px;
}

.price-text {
    font-size: 15px;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 15px;
    padding-left: 10px;
}

.price-text span {
    color: #46A358;
    font-weight: 700;
}


.filter-btn {
    /*margin-top: 16px;*/
    margin-left: 12px;
    width: 90px;
    height: 35px;
    background: #46A358;
    color: #fff;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}


.size-list {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}

.size-list li {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 40px;
    color: #3D3D3D;
    cursor: pointer;
}

.size-list li:hover {
    color: #46A358;
    font-weight: 700;
}


.filter-sort {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.filter-sort span {
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    color: #3D3D3D;
    margin-right: 8px;
}

.filter-sort img {
    width: 16px;
    height: 16px;
}

.products-list {
    list-style: none;
    margin-top: 31px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 70px;
}

.products-list li:hover .wrap-btn {
    display: flex;
    opacity: 1;
}


.products-list .wrapper {
    position: relative;
    box-sizing: border-box;
}


.products-list .wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #46A358;
    opacity: 0;
    transition: opacity .2s ease;
    z-index: 5;
}


.products-list li:hover .wrapper::before {
    opacity: 1;
}

.wrapper {
    position: relative;
    height: 300px;
    width: 260px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: #FBFBFB;
}

.wrap-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    left: 0;
    bottom: 7px;
    opacity: 0;
    transition: 0.3s ease;
}

.wrap-btn button {
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: none;
}

.wrap-btn img {
    background: white;
    max-width: 18px;
    max-height: 18px;
}


.products-list p {
    margin-top: 36px;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
    font-weight: 400;
    margin-bottom: 6px;
    padding-top: 12px;
}

.products-list li {
    width: 250px;
    height: 350px;
    justify-content: center;
}

.products-list img {
    background: #FBFBFB;
    width: 250px;
    height: 250px;
    object-fit: contain;
    justify-content: center
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #46A358;
}

.products::after {
    content: "";
    display: flex;
}


.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 90px;
    clear: both;
}

.page-btn {
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    background: #fff;
    font-size: 18px;
    font-weight: 400;
    color: #3D3D3D;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-btn.active {
    background: #46A358;
    color: #fff;
    border-color: #46A358;
}

.page-btn:hover:not(.active) {
    border-color: #46A358;
    color: #46A358;
}

.page-btn.next {
    font-size: 22px;
}

/*section4*/

.section-4 {
    padding: 100px 0;
}


/* frame1 */

.section-4 {
    padding: 100px 0;
}

.frame1 {
    display: flex;
    gap: 28px;
    margin-bottom: 94px;
}


.promo-item {
    width: 586px;
    height: 302px;
    background: #FBFBFB;

    display: flex;
    align-items: center;
    /*justify-content: space-between;*/

    padding: 0;
}

.promo-item img {
    width: 287px;
    height: 292px;
}


.promo-text {
    width: 292px;
    height: 45px;
    margin-top: 89px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}


.promo-text h4 {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    horiz-align: right;
    color: #3D3D3D;
    margin-bottom: 9px;
}

.promo-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 25px;
}


.promo-text .btn {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 26px;
    margin-bottom: 46px;
}


/* blog*/
.blog {
    text-align: left;
    margin-top: 138px;
}

.blog h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    margin-bottom: 12px;
}

.blog-desc {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 35px;
    margin-top: 15px;
}

.blog-list {
    display: flex;
    gap: 42px;
    list-style: none;
}

.blog-list li {
    width: 270px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
}

.blog-list img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-list span {
    font-size: 12px;
    color: #46A358;
    margin: 15px;
}

.blog-list h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin: 0 15px 10px;
}

.blog-list p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #727272;
    margin: 0 15px 20px;
}

.blog-list a {
    margin: auto 15px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
}

.blog-list a:hover {
    color: #46A358;
}


/*footer*/

.section-5 {
    background: #FBFBFB;
    padding: 30px 0;
}

.section-5row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}


.plants {
    display: flex;
}

.plants-item {
    margin-left: 25px;
    width: 230px;
    padding-right: 30px;
}

.plants-item:not(:last-child) {
    border-right: 1px solid #46A3581A;
    /*margin-right: 30px;*/
}

.plants-icon {
    width: 100%;
    height: 95px;
    display: block;
    margin-bottom: 15px;
}

.plants-title {
    font-size: 17px;
    font-weight: 700;
    color: #3D3D3D;
    margin-bottom: 9px;
}

.plants-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 25px;
}


.newsletter {
    /*max-width: 355px;*/
    margin-left: 42px;
}

.newsletter-title {
    font-size: 18px;
    font-weight: 700;
    color: #3D3D3D;
    margin-bottom: 25px;
    /*margin-top: 37px;*/
}

.newsletter-form {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #ACACAC;
    display: flex;
    height: 40px;
    margin: 24px 25px 24px 0;
}

.newsletter-input {
    flex: 1;
    padding: 0 12px;
    border: 1px solid #EAEAEA;
    border-right: none;
    border-radius: 6px 0 0 6px;
    outline: none;
}

.newsletter-btn {
    width: 85px;
    height: 40px;
    padding: 0 22px;
    background: #46A358;
    color: #fff;
    font-weight: 700;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.newsletter-text {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #727272;
    margin: 18px 25px 25px 0;

}


.footer-bar {
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
}

.footer-bar-inner {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    box-sizing: border-box;
}


.footer-bar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #3D3D3D;
}

.footer-logo {
    width: 150px;
    height: 34px;
    flex: 0 0 auto;
}


.footer-bar-link svg {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
}

.footer-bar-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #3D3D3D;
    text-decoration: none;
}

.footer-bar-item:nth-child(2) {
    flex: 1;
    min-width: 260px;
    max-width: 320px;
}

.footer-bar-link span {
    white-space: normal;
    word-break: normal;
}


.footer-bar-link:hover {
    color: red;
    font-weight: 600;
}

.footer-bottom {
    background: #FBFBFB;
    border-top: 1px solid rgba(70, 163, 88, .2);
}

.footer-bottom-inner {
    display: flex;
    gap: 90px;
}

.footer-col {
    min-width: 170px;
}

.footer-right {
    margin-left: auto;
    margin-right: 155px;
}


.footer-title {
    margin-top: 33px;
    margin-left: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
}

.footer-title2 {
    margin-top: 20px;
}


.footer-list {
    list-style: none;
    margin: 8px 0 29px 25px;
    padding: 0;
}

.footer-list a {
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;
}

.footer-list a:hover {
    color: #46A358;
    font-weight: 500;
}

.social {
    list-style: none;
    margin: 20px 34px 33px 25px;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social svg {
    color: #46A358;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.social :hover svg {
    color: red;
    transform: rotate(8deg) scale(1.1);
}

.payments {
    margin-left: 25px;
    margin-top: 13px;
    display: block;
    height: auto;
    max-width: 224px;
}


/*.newyear {*/
/*    text-align: center;*/
/*    background: linear-gradient(90deg, #52C368 0%, #EDF6EF 100%);*/
/*}*/