@import './font.css';
@import './reset.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: 'Cera Pro', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    color: white;
    background: #46A358;
    border-radius: 6px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px 7px;
}

.btn-large {
    margin-top: 44px;
    width: 140px;
    padding: 11px 25px 9px;
}

.section-1 {
    /*font-size: 0;*/
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);


    .left-side {
        padding: 68px 43px;
        /*vertical-align: middle;*/
        display: inline-block;
        max-width: 673px;
    }

    .right-side {
        vertical-align: top;
        display: inline-block;
        position: relative;

        .large-img {
            height: 450px;

        }

        .small-img {
            height: 135px;
            position: absolute;
            left: 55px;
            bottom: 17px;
        }
    }

    h3 {

        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #3D3D3D;
        margin-bottom: 7px;
    }

    h1 {

        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
        text-transform: uppercase;
        color: #3D3D3D;
        margin-bottom: 5px;

        span {
            color: #46A358;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #727272;
        }
    }

}


.section-2 {
    height: 53px;
    border-bottom: solid 0.3px;
    border-color: #46A35880;
    max-width: 1200px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    padding-bottom: 17px;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 18px;
    width: 100px;
    height: 35px;
    background: #46A358;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}


.logout-btn {

    object-fit: contain;
    color: white;
    width: 20px;
    height: 20px;
}

.menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3D3D3D;

}

.nav {
    width: 351px;
    height: 45px;
    margin-right: 125px;
    display: flex;
    gap: 50px;
}

.nav-link {
    text-decoration: none;
    color: #3D3D3D;
    font-weight: 500;
    font-size: 16px;
}


.section-3 {
    margin-top: 26px;
}

.aside {
    list-style: none;
    float: left;
    max-width: 310px;
}

.products {
    float: right;
    width: 840px;
}

.products::after {
    content: "";
    display: block;
    clear: both;
}

.products-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.products-list li {
    float: left;
    width: 250px;
    margin: 0 30px 40px 0;
}

.products-list img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}


.sale {
    align-content: center;
    font-weight: 700;
    font-size: 23px;
    line-height: 16px;
    margin-top: 370px;
    width: 310px;
    height: 470px;
    text-align: center;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);


    img {
        padding: 0 22px;
        display: block;
    }

    img:last-child {
        margin-top: 6px;
        max-height: 320px;
        object-fit: contain;
    }
}


.categories-title {
    font-weight: 700;
    margin-bottom: 20px;
}

.categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-list li {
    margin-bottom: 12px;
}


.products-filter span {
    margin-right: 30px;
    cursor: pointer;
}


.product-price {
    color: #46A358;
}







